<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>bsag.jd.tools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>03C22C34-BE51-473C-A474-278A81079C93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7D085F3-A2E0-41C2-9C70-B858247DE227</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FC959F2-B911-4394-B44A-B9DA99C878CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F308DF76-98AD-419A-AB13-11154982F6B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FA4457B-0217-4863-8155-98F2B98A97B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9A4E164-F9A1-40A4-A4A3-27C75231D928</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56B06915-F0D0-4D37-972B-C0E9A59608BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03C22C34-BE51-473C-A474-278A81079C93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75A793B9-C75E-4BFB-A66B-5C7950B41D43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F978713D-5E2D-4119-A13F-B0EAE1D0D1DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7954EC68-C931-4112-8DAD-756C8DABA5A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78F6F277-B99C-4380-9F47-E4836ECE6467</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85A33667-595D-446D-BDAF-900B8F6171A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CABB932C-4C0B-40EA-93A5-8392FD9DE22C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95FEB5A6-9AFF-4DA2-8FB9-3AE5EB2E201D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03C22C34-BE51-473C-A474-278A81079C93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7D085F3-A2E0-41C2-9C70-B858247DE227</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85A33667-595D-446D-BDAF-900B8F6171A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CABB932C-4C0B-40EA-93A5-8392FD9DE22C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FA4457B-0217-4863-8155-98F2B98A97B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9ABD5EC6-9EF9-4078-99B4-714E2044FA8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC8BFE28-776D-4248-894D-C724988F82B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F978713D-5E2D-4119-A13F-B0EAE1D0D1DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F308DF76-98AD-419A-AB13-11154982F6B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7954EC68-C931-4112-8DAD-756C8DABA5A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5462326-5FF2-454D-893C-17BDBEADB14A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F9F1D56-4E13-4176-9F12-E1D8D5A8E2C9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F978713D-5E2D-4119-A13F-B0EAE1D0D1DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FC959F2-B911-4394-B44A-B9DA99C878CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>BSAG</string>
	<key>description</key>
	<string>Search, browse and file in a J.D system</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Johnny.Decimal tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>78F6F277-B99C-4380-9F47-E4836ECE6467</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>alfred-jd search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>75A793B9-C75E-4BFB-A66B-5C7950B41D43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/------------- to actions -------------\
query={query}
variables={allvars}
\------------- to actions -------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>7954EC68-C931-4112-8DAD-756C8DABA5A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>A5462326-5FF2-454D-893C-17BDBEADB14A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-jd -action "search" -level "$lvl" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F308DF76-98AD-419A-AB13-11154982F6B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-jd -action "search" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for files...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F978713D-5E2D-4119-A13F-B0EAE1D0D1DA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/------------- search -------------\
query={query}
variables={allvars}
\------------- search -------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>0FC959F2-B911-4394-B44A-B9DA99C878CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>6F9F1D56-4E13-4176-9F12-E1D8D5A8E2C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DC8BFE28-776D-4248-894D-C724988F82B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1FA4457B-0217-4863-8155-98F2B98A97B0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Folder created successfully:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F9A4E164-F9A1-40A4-A4A3-27C75231D928</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>alfred-jd new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>95FEB5A6-9AFF-4DA2-8FB9-3AE5EB2E201D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-jd -action "new" -cat "$cat" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7D085F3-A2E0-41C2-9C70-B858247DE227</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

if [ -d "$query" ]; then
    # Directory already exists
	echo -n "Folder already exists"
else
	mkdir "$query"
	echo -n "$query"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CABB932C-4C0B-40EA-93A5-8392FD9DE22C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jdn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-jd -action "new" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>03C22C34-BE51-473C-A474-278A81079C93</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/------------- alfred-jd new -------------\
query={query}
variables={allvars}
\------------- alfred-jd new -------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>85A33667-595D-446D-BDAF-900B8F6171A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>"{query}"</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9ABD5EC6-9EF9-4078-99B4-714E2044FA8F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>56B06915-F0D0-4D37-972B-C0E9A59608BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to use this workflow are found in the GitHub repo attached to the workflow. 

IMPORTANT!

Before using this workflow, you need to change the value of 'JD_DIR' in the Workflow Environment Variables on the right. Enter the root path for your Johnny.Decimal system, without a trailing slash. You can use '~/' to refer to your home folder, or write the path in full (e.g. '/Users/johnny').

Double click this workflow in the sidebar to visit the GitHub repo.

Please post any bugs or feature requests on the GitHub repo ❤️.</string>
	<key>uidata</key>
	<dict>
		<key>03C22C34-BE51-473C-A474-278A81079C93</key>
		<dict>
			<key>note</key>
			<string>choose the category in which to create new folder</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>0FC959F2-B911-4394-B44A-B9DA99C878CE</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>1FA4457B-0217-4863-8155-98F2B98A97B0</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>56B06915-F0D0-4D37-972B-C0E9A59608BC</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>6F9F1D56-4E13-4176-9F12-E1D8D5A8E2C9</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>75A793B9-C75E-4BFB-A66B-5C7950B41D43</key>
		<dict>
			<key>note</key>
			<string>main entry point for script</string>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>78F6F277-B99C-4380-9F47-E4836ECE6467</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>7954EC68-C931-4112-8DAD-756C8DABA5A1</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>85A33667-595D-446D-BDAF-900B8F6171A9</key>
		<dict>
			<key>xpos</key>
			<integer>735</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>95FEB5A6-9AFF-4DA2-8FB9-3AE5EB2E201D</key>
		<dict>
			<key>note</key>
			<string>entry point to create a new ID folder</string>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>9ABD5EC6-9EF9-4078-99B4-714E2044FA8F</key>
		<dict>
			<key>note</key>
			<string>temporary measure: this copies the path to the new folder inside quotes, so you can goto the Terminal and type 'cd ' and then paste the path.</string>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>A5462326-5FF2-454D-893C-17BDBEADB14A</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A7D085F3-A2E0-41C2-9C70-B858247DE227</key>
		<dict>
			<key>note</key>
			<string>ask user for folder name</string>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>CABB932C-4C0B-40EA-93A5-8392FD9DE22C</key>
		<dict>
			<key>note</key>
			<string>create the new folder</string>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>DC8BFE28-776D-4248-894D-C724988F82B6</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>F308DF76-98AD-419A-AB13-11154982F6B2</key>
		<dict>
			<key>note</key>
			<string>sends the chosen level back to script to display items</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>F978713D-5E2D-4119-A13F-B0EAE1D0D1DA</key>
		<dict>
			<key>note</key>
			<string>displays the options for levels</string>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>F9A4E164-F9A1-40A4-A4A3-27C75231D928</key>
		<dict>
			<key>xpos</key>
			<integer>1240</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JD_DIR</key>
		<string>~/Dropbox/Personal</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>JD_DIR</string>
	</array>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/bsag/alfred-jd</string>
</dict>
</plist>
